/* INDICAZIONI GENERALI */

* {
  padding: 0;
  margin: auto;
  box-sizing: border-box: ;
  font-family: 'Lato', sans-serif;
}

/* CONTENITORE SEZIONI + CLEARFIX */

.container {
  width: 80%;
}

.container::after {
  content: "";
  display:table;
  clear: both;
}

/* -------------------HEADER------------------------- */

/* NAV FISSA */

.fixed-nav {
  padding: 40px;
  background-color: #f5f8fa;
  border-bottom: 0.2px solid rgb(200, 203, 202);
  /* position: fixed;
  top: 0;
  width: 100%;
  padding-right: 30px; */
}


.left-nav ul li {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.left-nav li a {
  text-decoration: none;
  padding-right: 30px;
  color: #33475b;
  font-size: 16px;
  font-weight: 400;
}

.right-nav ul li {
  display: inline-block;
  float: right;
  font-size: 13px;
}

.right-nav li a, li i {
  text-decoration: none;
  padding-left: 30px;
  color: #33475b;
}

/* NAV "NORMALE" */

.main-nav {
  background-color: white;
  padding: 40px;
  /* margin-top: 100px; */
}

.another-nav ul li {
  display: inline-block;
  float: right;
}

.another-nav li a {
  text-decoration: none;
  padding-left: 30px;
  color: #33475b;
  font-size: 18px;
  font-weight: 500;
}

.logo {
  float: left;
}

/*------------- FINE HEADER ------------------- */


/* JUMBOTRON */

.jumbo {
  background-image: url(img/jumbotron.png);
  background-size: 1400px 695px;
  height: 695px;
}

.jumbo-text {
  width: 40%;
  margin-top: 50px;
  float: left;
}

.jumbo-text h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #33475b;
}

.jumbo-text p {
  font-size: 18px;
  font-weight: 400;
  color: #33475b;
  margin-bottom: 40px;
  line-height: 1.8em;
}

.jumbo-text a {
  font-size: 17px;
  color: white;
  background-color: #ff7a59;
  padding: 20px 30px;
  border-radius: 3px;
  margin-top: 20px;
  font-weight: 600;
  text-decoration: none;
}

.jumbo-text #free-tools {
  font-size: 14px;
  color: #33475b;
  font-weight: 300;
  margin-top: 40px;
}


/* RUBICK */

.rubick {
  text-align: center;
  background-color: #f5f8fa;
  padding: 100px 0;

}

.rubick-box {
  width: 60%;


}

.rubick-box h2 {
  font-size: 32px;
  font-weight: 900;
  color: #33475b;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rubick-box p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7em;
  color: #33475b;
}

.rubick img {
  width: 250px;
  height: 200px;
}


/* CRM */

.crm {
  padding-top: 50px;
 }

.wrapper {
  float: left;
  width: 27%;
  text-align: center;
  background-color: white;
  margin-left: 40px;
}

.wrapper a {
  font-size: 15px;
  font-weight: 600;
  background-color:  #ff7a59;
  padding: 15px 30px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  margin-top: 20px;

}

.wrapper img {
  margin-bottom: 40px;
}

.hub-description {
  float: right;
  width: 55%;
  color:  #33475b;
  background-color: white;
  margin-right: 40px;
}

.hub-description h3 {
  font-size: 22px;
  font-weight: 800;
}

.hub-description p {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 300;
  line-height: 1.7em;
}

.hub-description h5 {
  font-size: 13px;
  font-weight: 800;
  margin-bottom: 20px;
}

.hub-description ul li {
  font-size: 13px;
  list-style: none;
  display: inline-block;
  padding-right: 20px;
}

.crm {
  background-color: #f5f8fa;
}

.crm img {
  width: 300px;
  height: 150px;
}

crm a {
  display: block;
}

.crm #white {
  background-color: white;
  padding: 50px 0 60px 0;
  border-radius: 2px;
}

/* HUB */

.hub {
  background-color: #f5f8fa;
  padding-bottom: 75px;
}

.hub-feature {
  width: 23%;
  float:left;
  background-color: white;
  text-align: center;
  padding: 50px 40px 50px 40px;
  margin-top: 47.5px;
  border-radius: 2px;
}

.hub #second {
  margin-left: 47.5px;
  margin-right: 47.5px;
}


.hub-feature img {
  width: 250px;
  height: 150px;
}

.hub-feature h3 {
  font-size: 22px;
  font-weight: 600;
  color: #33475b;
  margin-top: 20px;
}

.hub-feature p {
  font-size: 14px;
  font-weight: 300;
  color: #33475b;
  line-height: 1.7em;
  margin: 15px 0 15px 0;
  text-align: left;
  border-bottom: 0.2px solid rgb(200, 203, 202);
  padding-bottom: 20px;
}


.hub-feature h4 {
  font-size: 13px;
  color: #33475b;
  margin: 30px 0 20px 0;
}

.hub-feature a {
  font-size: 15px;
  color: white;
  font-weight: 600;
  background-color: #ff7a59;
  padding: 15px 30px;
  border-radius: 3px;
  text-decoration: none;
}

.hub-feature ul {
  margin-bottom: 40px;
}

.hub-feature ul li {
  list-style: none;
  font-size: 13px;
  color: #33475b;
  padding: 10px 0;
  text-align: left;
}


/* GRID */

.grid {
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  padding-top: 100px;
  padding-bottom: 100px;
}

.title {
  text-align: center;
  color: white;
  width: 70%;
  padding-bottom: 70px;
}

.title h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 25px;
}

.title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7em;
}

.first-grid .infobox {
  border-bottom: 1px solid white;
}

#border {
  border-right: 1px solid white;
}

.infobox {
  width: 18.6%;
  text-align: center;
  padding: 30px;
  float: left;
  color: white;
}

.infobox h3 {
  font-size: 45px;
  font-weight: 900;
  margin: 10px 0 10px 0;
}

.infobox p {
  font-size: 18px;
  font-weight: 500;
}


/* SPONSOR */

.sponsor {
  padding-top: 100px;
  padding-bottom: 70px;
}

.data {
  width: 30%;
  color: #33475b;
  float: left;
}

.data h2 {
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 20px;
}

.data p {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.8em;
}

.sponsor-grid {
  width: 60%;
  float: right;
}

.sponsor-first-grid img, .sponsor-second-grid img {
  width: 100px;
  height: 20px;
  float: left;
  padding: 25px;
}



/* CUSTOMER */

.customer {
  padding-top: 100px;
}

.customer-text {
  color: #33475b;
  width: 40%;
  float: left;
}

.customer-text h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
}

.customer-text p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 60px;
  line-height: 1.7em;
}

.customer-text a {
  font-size: 15px;
  color: white;
  font-weight: 600;
  background-color: #ff7a59;
  padding: 15px 30px;
  border-radius: 3px;
  text-decoration: none;
}

.customer-text #free {
  font-size: 14px;
  color: #33475b;
  font-weight: 300;
  margin-top: 50px;
}

.customer-image {
  float: right;
  /* width: 40%; */
}

.customer-image img {
  width: 350px;
  height: 420px;
}
